%h1 Control Panel

%tbody
  %br
  %br
  %h2
    Power Switch
  %span.btn.btn-success.btn-lg 
    = link_to 'Turn On', poweron_path
  %span.btn.btn-danger.btn-lg 
    = link_to 'Turn Off', poweroff_path


  %br
  %br
  %h2
    Max-NAS
  %span.btn.btn-danger.btn-lg Turn Off